<ng-container *ngIf="user">

  <div class="row user-header-row">
    <div class="col-md-2 col-xs-4 col-sm-4">
        <h2>{{user?.login}}</h2>    
    </div>
    <div class="col">
        <img [src]="user?.avatar_url" height="50" width="50">
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 margin-for-when-1-col">
      <h3>User details</h3>
        <ul class="list-group">
            <li class="list-group-item">Name: {{user?.name}}</li>
            <li class="list-group-item">GitHub Page:             
              <a target="_top" [href]="user?.html_url">{{user?.html_url}}</a>
            </li>
            <li class="list-group-item">Followers: {{user?.followers}}</li>
            <li class="list-group-item">Following: {{user?.following}}</li>
            <li class="list-group-item">Blog: 
              <a target="_top" [href]="user?.blog">{{user?.blog}}</a>
            </li>
          </ul>

        <h3 class="margin-for-when-1-col">Followers list</h3>
          <ul class="list-group">
            <li *ngFor="let follower of userFollowers" class="list-group-item">
              <a target="_top" [href]="follower.html_url">{{follower.login}}</a>
            </li>
        </ul>
        
    </div>
    <div class="col-md-6 margin-for-when-1-col">
      <h3>Repositories</h3>
        <ul class="list-group">
            <li *ngFor="let repo of userRepos" class="list-group-item">
              <a target="_top" [href]="repo.html_url">{{repo.name}}</a>
            </li>
          </ul>
    </div>         
  </div>
  
  <div class="row footer-button-row">
    <div class="col-xs-12 col-md-3 offset-md-9">
        <button type="button" class="btn btn-primary btn-block" (click)="this.goToSearchScreen()">Go to search screen</button>
      </div>
  </div>

</ng-container>


