.margin-for-when-1-col{
    margin-top: 15px;
}
.user-header-row{
    margin-top: 18px;
}

.footer-button-row{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 577px) {
    .profile-picture-in-profile{
        height: 70px;
        width: 70px;
        float: right;
    }
}